<script th:fragment="js" type="text/javascript">

    $(document).ready(function () {
        console.log('DOCUMENT READY!!');

        initEvent();

    });

    function initEvent() {
        console.log("init CALLED!!!");


        $("#sectionWrap div.updatePasswordForm input[value='비밀번호 수정']").on('click', function () {
            console.log("비밀번호 수정 CLICK HANDLER!!!");

            updatePasswordConfirm();
        });

    }

    function updatePasswordConfirm() {
        console.log("updatePasswordConfirm() CALLED!!!");

        let form = document.updatePasswordForm;

        if (form.currentPassword.value == '') {
            alert("현재 비밀번호를 입력해주세요!");
            form.currentPassword.focus();
        } else if (form.newPassword.value == '') {
            alert("새 비밀번호를 입력해주세요!");
            form.newPassword.focus();
        } else if (form.newPasswordAgain.value == '') {
            alert("새 비밀번호 확인을 입력해주세요!");
            form.newPasswordAgain.focus();
        } else if (form.newPassword.value != form.newPasswordAgain.value) {
            alert("비밀번호와 새 비밀번호가 다릅니다!");
            form.newPassword.focus();
        } else {
            ajax_checkCurrentPassword(form.no.value, form.currentPassword.value, form.isStudent.value);
        }


    }


    // AJAX START
    function ajax_checkCurrentPassword(no, currentPassword, isStudent) {
        console.log("ajax_checkCurrentPassword() CALLED!!!");

        let result = false;

        msgDto = {
            'no': no,
            'currentPassword': currentPassword,
            'isStudent': isStudent,
        }

        $.ajax({
            url: '/user/member/checkCurrentPassword',
            type: 'POST',
            data: JSON.stringify(msgDto),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_checkCurrentPassword()');

                if (data.check) {
                    document.updatePasswordForm.submit();
                } else {
                    let form = document.updatePasswordForm;
                    form.currentPassword.value = null;
                    form.newPassword.value = null;
                    form.newPasswordAgain.value = null;
                    alert("현재 비밀번호가 맞지 않습니다!");
                }
            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_checkCurrentPassword()');
                alert("통신 에러입니다 다시 시도해주세요");
            }
        });

        return result;
    }


</script>