.body {
    box-sizing: border-box;
    background-color: #f2f2f2;
}

/* 섹션 스타일 */
#sectionWrap {
    max-width: 450px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding-bottom: 100px;
}

/* 폼 제목, 로고 스타일 */
.logo {
    text-align: center;
    margin-top: 20px;
}

.logo img {
    max-width: 100px;
}
.title {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient( to bottom, #0593fc, #036bb4);
    color: transparent;
    -webkit-background-clip: text, border;
    margin-bottom: 10px;
}

/* 입력 박스 스타일 */
.id_box,
.check_password_box,
.name_box,
.phone_box,
.mail_box,
.address_box,
.school_name_box,
.gender_box,
.grade_box,
.class_box,
.eigen_no_box{
    width: 100%;
    margin-bottom: 15px;
}
/* 입력 필드 스타일 */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.id_box > input[name='id'] {
    width: 95%;
}
.password_box > input[name='password'] {
    width: 60%;
}
.check_password_box > input[name='password_again'],
.name_box > input[name='name'] {
    width: 95%;
}
.phone_box {
    /*width: 30%;*/
}
.phone_box > select[name='phone1'] {
    width: 28%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1em;
}
.phone_box > input[name="phone2"],
.phone_box > input[name="phone3"]{
    width: 28%;
}
.mail_box > input[name='mail1'] {
    width: 45%;
}
.mail_box > select[name='mail2'] {
    width: 43%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1em;
}
.address_box > input {
    margin-bottom: 4px;
}
.address_box > input[id='postcode'] {
    width: 45%;
}
.address_box > select[value="우편번호 찾기"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1em;
}
.address_box > input[id="address"],
.address_box > input[id="detailAddress"],
.address_box > input[id="extraAddress"] {
    width: 95%;
}
.school_name_box > input[name="school_search"] {
    width: 20%;
}
.school_name_box > input[name = "school_name"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1em;
}
.gender_box > select[name = "gender"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1em;
}
.grade_box > input[name = "grade"] {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1em;
}
.class_box > input[name = "class_no"] {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1em;
}
.eigen_no_box > input[name='eigen_no'] {
    width: 50%;
}
.for_flex {
    display: flex;
}
/* 레이블 스타일 */
.id_box > div,
.password_box > div,
.check_password_box > div,
.name_box > div,
.phone_box > div,
.mail_box > div,
.address_box > div,
.school_name_box > div,
.gender_box > div,
.grade_box > div,
.class_box > div,
.eigen_no_box > div {
    font-weight: bold;
    margin-bottom: 5px;
}

/* 버튼 스타일 */
input[type="button"] {
    height: 40px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #0593fc, #036bb4);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

input[value="가입하기"] {
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    background-color: #efca00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}
.btn_container {
    display: flex;
    justify-content: center;
}

/* 링크 스타일 */


