<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="~{include/title.html::title}">

    </title>
    <script th:replace="~{include/common_js.html::jquery_cdn}" type="text/javascript"></script>
    <script th:replace="~{include/student/updatePasswordFormForFindPasswordJs.html::js}" type="text/javascript"></script>


</head>
<body>

<header th:replace="~{include/headerNavFooter.html::header}">
</header>


<nav th:replace="~{include/headerNavFooter.html::nav}">

</nav>

<section>
    <div id = "sectionWrap">
        <div class="word">
            비밀번호 찾기
        </div>
        <div class = "updatePasswordForm">
            <form th:action="@{/user/member/updatePasswordConfirm}" method="post" id = "updatePasswordForm" name = "updatePasswordForm">
                <input type = "hidden" name = "isStudent" th:value="${isStudent}">
                <input type = "hidden" name = "id" th:value="${no}">
                <input type = "password" name = "currentPassword" placeholder="현재 비밀번호"><br>
                <input type = "password" name = "newPassword" placeholder="새 비밀번호"><br>
                <input type = "password" name = "newPasswordAgain" placeholder="새 비밀번호 확인"><br>
                <input type = "button" value="비밀번호 수정">
                <input type = "reset" value="reset">
            </form>
        </div>
    </div>
</section>

<footer th:replace="~{include/headerNavFooter.html::footer}">

</footer>

</body>
</html>