<script th:inline="javascript">

    var checkForReadAllow = [[${ReadAllow}]];
    var checkForWriteAllow = [[${WriteAllow}]];
    console.log("ReadAllow : ", checkForReadAllow)
    console.log("WriteAllow : ", checkForWriteAllow)

    if (checkForReadAllow != null) {
        // 학부모 계정으로 게시물 접근시 실행되는 스크립트
        alert("읽기 권한이 없는 계정입니다.");
        window.location.href = '/board/freeBoardListForm';
    }
    if (checkForWriteAllow > 0) {
        // 학부모 계정으로 게시물 작성시 실행되는 스크립트
        alert("쓰기 권한이 없는 계정입니다.");
        window.location.href = '/board/freeBoardListForm';
    }


</script>