<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneteam.dormease.board.IBoardMapper">

    <select id="selectAllFreeBoardContent" parameterType="Map">
        SELECT
        f.*,
        s.name
        AS
        student_name
        FROM
        free_board f
        JOIN
        student s
        ON
        f.student_no = s.no
        WHERE
        f.school_no = #{schoolNo}
        AND
        f.category_no = 1
        AND
        f.status = 1
        <if test="keyWord != null">
            <if test='!search.equals("name")'>
                AND f.${search} LIKE CONCAT('%', #{keyWord}, '%')
            </if>
            <if test='search.equals("name")'>
                AND s.name LIKE CONCAT('%', #{keyWord}, '%')
            </if>
        </if>
        ORDER BY NO DESC
        LIMIT
        #{pageMakerDto.criteria.skip}, #{pageMakerDto.criteria.amount}

    </select>

    <select id="selectCountOfContent" parameterType="Map" resultType="Integer">
        SELECT
        COUNT(*)
        FROM
        free_board f
        JOIN
        student s
        ON
        f.student_no = s.no
        WHERE
        f.school_no = #{schoolNo}
        AND
        f.category_no = 1
        AND
        f.status = 1
        <if test="keyWord != null">
            <if test='!search.equals("name")'>
                AND f.${search} LIKE CONCAT('%', #{keyWord}, '%')
            </if>
            <if test='search.equals("name")'>
                AND s.name LIKE CONCAT('%', #{keyWord}, '%')
            </if>
        </if>
    </select>

    <insert id="insertNewContent" parameterType="map">

        INSERT INTO free_board (school_no, student_no, category_no, title, content, reg_date, mod_date)
        VALUES (#{studentDto.school_no}, #{studentDto.no}, 1, #{boardDto.title}, #{boardDto.content}, NOW(), NOW())

    </insert>

    <insert id="insertNewFile" parameterType="java.util.List">

        INSERT INTO
        free_board_upload_file (
        board_no, ori_file_name, board_attach_file, dir_name)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.board_no}, #{item.ori_file_name}, #{item.board_attach_file}, #{item.dir_name})
        </foreach>

    </insert>

    <select id="selectCurrentBoardNo" parameterType="Integer">

        SELECT
            no
        FROM
            free_board
        ORDER BY no DESC
            LIMIT 1

    </select>

    <select id="selectDetailContent" parameterType="int">

        SELECT f.*,
               s.name
                   AS
                   student_name
        FROM free_board f
                 JOIN
             student s
             ON
                 f.student_no = s.no
        WHERE f.no = #{no}
          AND f.category_no = 1
          AND f.status = 1

    </select>

    <select id="selectUploadedFiles" parameterType="int">

        SELECT *
        FROM free_board_upload_file
        WHERE board_no = #{no}
        ORDER BY no ASC

    </select>

    <select id="selectUploadedFilesForModify" parameterType="int">

        SELECT *
        FROM free_board_upload_file
        WHERE board_no = #{no}
        ORDER BY no ASC

    </select>

    <update id="updateContentHit" parameterType="Integer">

        UPDATE
            free_board
        SET hit = hit + 1
        WHERE
            no = #{no}

    </update>

    <delete id="deleteFilesForModify" parameterType="Integer">

        DELETE
        FROM free_board_upload_file
        WHERE board_no = #{board_no}

    </delete>

    <update id="updateContent" parameterType="com.oneteam.dormease.board.BoardDto">

        UPDATE
            free_board
        SET title    = #{title},
            content  = #{content},
            mod_date = #{mod_date}
        WHERE
            no = #{no}

    </update>

    <update id="updateContentForDelete" parameterType="Integer">

        UPDATE
            free_board
        SET status = 0
        WHERE
            no = #{no}

    </update>

</mapper>