<script th:fragment="js" type="text/javascript">
    var timer;
    var isRunning = false;
    var isStudent = 1;

    $(document).ready(function () {
        console.log('DOCUMENT READY!!');

        initEvent();

    });

    function initEvent() {
        console.log("init CALLED!!!");

        $("#sectionWrap div.findIDForm input:radio[name='student']").on('click', function () {
            console.log("student CLICK HANDLER!!!");

            $("input:radio[name='student']").prop('checked', true);
            $("input:radio[name='parents']").prop('checked', false);

            isStudent = 1;
        });

        $("#sectionWrap div.findIDForm input:radio[name='parents']").on('click', function () {
            console.log("parents CLICK HANDLER!!!");

            $("input:radio[name='student']").prop('checked', false);
            $("input:radio[name='parents']").prop('checked', true);

            isStudent = 0;
        });

        $("#sectionWrap div.findIDForm input[value='인증번호']").on('click', function () {
            console.log("인증번호 발송 CLICK HANDLER!!!");

            let form = document.findIDForm;
            if (form.name.value == '') {
                alert("이름을 입력해주세요!");
                form.name.focus();
            } else if (form.phone1.value == '') {
                alert("핸드폰을 입력해주세요!");
                form.phone1.focus();
            } else if (form.phone2.value == '') {
                alert("핸드폰을 입력해주세요!");
                form.phone2.focus();
            } else if (form.phone3.value == '') {
                alert("핸드폰을 입력해주세요!");
                form.phone3.focus();
            } else {
                ajax_sendAuthenticationMessage();
                sendAuthNum();
            }

        });

        $("#sectionWrap div.findIDForm input[value='확인']").on('click', function () {
            console.log("확인 CLICK HANDLER!!!");

            findIDConfirm();
        });


    }

    // 인증번호 발송 및 타이머 함수 실행
    function sendAuthNum() {
        console.log("sendAuthNum() CALLED!!!");
        // 남은 시간(초)
        var leftSec = 180,
            display = document.querySelector('#timer');
        // 이미 타이머가 작동중이면 중지
        if (isRunning) {
            clearInterval(timer);
        }
        startTimer(leftSec, display);
    }

    function startTimer(count, display) {
        console.log("startTimer() CALLED!!!");
        var minutes, seconds;
        timer = setInterval(function () {
            minutes = parseInt(count / 60, 10);
            seconds = parseInt(count % 60, 10);
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            display.textContent = minutes + ":" + seconds;
            // 타이머 종료
            if (--count < 0) {
                clearInterval(timer);
                display.textContent = "인증 시간이 초과되었습니다. 다시 시도해주세요";
                isRunning = false;
                $("span.authInput").children().remove();
                ajax_invalidateAuthenticationNumber();
            }
        }, 1000);
        isRunning = true;
    }

    // 아이디 찾기
    function findIDConfirm() {
        console.log("findIDConfirm() CALLED!!!");

        let form = document.findIDForm;
        if (form.name.value == '') {
            alert("이름을 입력해주세요!");
            form.name.focus();
        } else if (form.phone1.value == '') {
            alert("핸드폰을 입력해주세요!");
            form.phone1.focus();
        } else if (form.phone2.value == '') {
            alert("핸드폰을 입력해주세요!");
            form.phone2.focus();
        } else if (form.phone3.value == '') {
            alert("핸드폰을 입력해주세요!");
            form.phone3.focus();
        } else if (form.auth_no.value == '') {
            alert("인증번호를 입력해주세요!");
            form.auth_no.focus();
        } else {
            ajax_matchAuthentication();
        }

    }

    // AJAX START
    function ajax_sendAuthenticationMessage() {
        console.log("ajax_sendAuthenticationMessage() CALLED!!!");

        let form = document.findIDForm;
        let formData = new FormData();
        formData.append("name", form.name.value);
        formData.append("to", form.phone1.value + form.phone2.value + form.phone3.value);
        formData.append("isStudent", isStudent);

        $.ajax({
            url: '/sms/sendAuthenticationMessage',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_sendAuthenticationMessage()');
                if (data == '1') {
                    clearInterval(timer);
                    document.querySelector('#timer').textContent = "";
                    alert("입력한 정보가 올바르지 않습니다!");
                    isRunning = false;
                } else {
                    $("input.sendBtn").val('재발송');
                    $("span.authInput").children().remove();
                    let appendTag = "";
                    appendTag += '<br><input type="text" name="auth_no" placeholder="인증번호를 입력해주세요">'

                    $("span.authInput").append(appendTag);
                }

            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_sendAuthenticationMessage()');
            }
        });
    }

    function ajax_matchAuthentication() {
        console.log("ajax_matchAuthentication() CALLED!!!");
        let form = document.findIDForm;
        let formData = new FormData;
        formData.append("name", form.name.value);
        formData.append("to", form.phone1.value + form.phone2.value + form.phone3.value);
        formData.append("content", form.auth_no.value);
        formData.append("isStudent", isStudent);

        $.ajax({
            url: '/user/member/matchAuthentication',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_matchAuthentication()');

                console.log(data);


                if (data.result) {
                    ajax_sendMessage(data.id);
                } else {
                    alert("인증번호가 맞지 않습니다!");
                }


            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_matchAuthentication()');
            }
        });
    }

    function ajax_sendMessage(id) {
        console.log("ajax_sendMessage() CALLED!!!");

        let form = document.findIDForm;
        let formData = new FormData();
        formData.append("name", form.name.value);
        formData.append("to", form.phone1.value + form.phone2.value + form.phone3.value);
        formData.append("isStudent", isStudent);
        formData.append("content", id);

        $.ajax({
            url: '/sms/sendMessage',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_sendMessage()');

                if (data.statusCode == '202') {
                    alert("아이디를 문자로 전송하였습니다.");
                    location.href = "/user/member/loginForm";
                } else {
                    alert("아이디 문자 전송에 실패하였습니다.");
                }

            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_sendMessage()');
            }
        });
    }

    function ajax_invalidateAuthenticationNumber() {
        console.log("ajax_invalidateAuthenticationNumber() CALLED!!!");
        let form = document.findIDForm;
        let formData = new FormData;
        formData.append("name", form.name.value);
        formData.append("to", form.phone1.value + form.phone2.value + form.phone3.value);
        formData.append("isStudent", isStudent);

        $.ajax({
            url: '/user/member/invalidateAuthenticationNumber',
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log('AJAX SUCCESS - ajax_matchAuthentication()');
            },
            error: function (data) {
                console.log('AJAX ERROR - ajax_matchAuthentication()');
            }
        });
    }


</script>